data/
data_updated/
__pycache__
spectres.npy
features_dataset.npy
cnn_respiratory.pth
cnn_respiratory_aug_best.pth
info_compte.txt
rendu.txt
mel_spectrograms.npy
.env
.env.example
label_encoder.pkl
Snowflake_connexion.ipynb
resnet18_mel_finetuned.onnx
resnet18_mel_finetuned.onnx.data
resnet18_mel_finetuned.pth
resnet18_grid_search_results_smoke.csv
resnet18_grid_search_results.csv

Phase3_fine_tuning.ipynb
phase1.ipynb
start copy.ipynb
src/models/resnet18_mel_finetuned.pth
