data/
data_2/
data_updated/
data_4k/
spectres.npy
features_dataset.npy
cnn_respiratory.pth
cnn_respiratory_aug_best.pth
info_compte.txt
rendu.txt
mel_spectrograms.npy
.env
.env.example
label_encoder.pkl
Snowflake_connexion.ipynb