data/
data_2/
data_updated/
data_4k/
__pycache__
spectres.npy
features_dataset.npy
*.pth
info_compte.txt
rendu.txt
mel_spectrograms.npy
.env
.env.example
label_encoder.pkl
Snowflake_connexion.ipynb
Phase3_fine_tuning.ipynb
Phase3_fine_tuning copy.ipynb
phase1.ipynb
start copy.ipynb
diagnostic_gpu.py
src/models/resnet18_mel_finetuned.pth
*.pth
*.onnx